@model Instructor

@{
	Layout = "_HeaderAdminLayout";
}
<div class="card arabic">
	<div class="card-body">
		<dl class="row">
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.ExperienceYears)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.ExperienceYears)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Qualifications)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Qualifications)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.FullName)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.FullName)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Gender)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Gender)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Email)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Email)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.PhoneNumber)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.PhoneNumber)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.NationalId)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.NationalId)
			</dd>
		</dl>

		<form asp-action="Delete" class="card-footer">
			<input type="hidden" asp-for="Id" />
			<input type="submit" value="حذف" class="btn btn-danger  px-3 arabic" />
			<a asp-action="Index" class="btn btn-secondary px-3 arabic">رجوع</a>
		</form>
	</div>
</div>
